# Scraping Closing prices with Selenium

### Importing Libraries

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import _pickle as pickle
import random
import glob
import os
import pandas as pd
import time

### Function to scrape Prices

In [7]:
def closing_prices(stock):
    """
    Using Selenium to scrape the prices from Yahoo Finance
    """
    
    # Randomize wait times
    seq = [i/10 for i in range(3,12)]
    
    # Options to help load the page faster
    chromeOptions = Options()
    prefs = {"profile.managed_default_content_settings.images":2,
         "profile.default_content_setting_values.notifications":2,
         "profile.managed_default_content_settings.stylesheets":2,
         "profile.managed_default_content_settings.cookies":1,
         "profile.managed_default_content_settings.javascript":1,
         "profile.managed_default_content_settings.plugins":2,
         "profile.managed_default_content_settings.popups":2,
         "profile.managed_default_content_settings.geolocation":2,
         "profile.managed_default_content_settings.media_stream":2}
    chromeOptions.add_experimental_option("prefs",prefs)
    chromeOptions.add_extension(r"/Users/flatironschool/Desktop/extension_1_22_4_0.crx")

    # Opening a browser to google search
    driver = webdriver.Chrome(options=chromeOptions)
    driver.set_window_size(720,720)
    driver.implicitly_wait(2)
    driver.get("https://google.com")

    # Searching for the stock by ticker
    search = driver.find_element(By.XPATH, "//input[@class='gLFyf gsfi']")
    search.send_keys(f"{stock.upper()} yahoo finance")
    search.send_keys(Keys.RETURN)
    
    # Clicking the top google result
    try:
        search_res = driver.find_element(By.XPATH, "//*[@id='rso']/div/div/div[1]/div/div/div[1]/a/h3")
        search_res.click()
    except:
        try:
            search_res = driver.find_element(By.XPATH, "//*[@id='rso']/div[1]/div/div/div/div[1]/a/h3")
            search_res.click()
        except:
            search_res = driver.find_element_by_tag_name('h3')
            search_res.click()

    # Clicking the historical data
    hist_but = driver.find_element(By.XPATH, "//*[@id='quote-nav']/ul/li[6]/a")
    hist_but.click()
    time.sleep(random.choice(seq))

    # Clicking the date range
    date_rg = driver.find_element(By.XPATH, "//input[@class='C(t) O(n):f Tsh($actionBlueTextShadow) Bd(n) Bgc(t) Fz(14px) Pos(r) T(-1px) Bd(n):f Bxsh(n):f Cur(p) W(190px)']")
    date_rg.click()
    time.sleep(random.choice(seq))

    # Clicking "Max", then "Done", then "Apply"
    max_but = driver.find_element(By.XPATH, "//*[@id='Col1-1-HistoricalDataTable-Proxy']/section/div[1]/div[1]/div[1]/span[2]/div/div[1]/span[8]")
    max_but.click()
    time.sleep(random.choice(seq))

    done = driver.find_element(By.XPATH, "//*[@id='Col1-1-HistoricalDataTable-Proxy']/section/div[1]/div[1]/div[1]/span[2]/div/div[3]/button[1]")
    done.click()
    time.sleep(random.choice(seq))

    apply = driver.find_element(By.XPATH, "//*[@id='Col1-1-HistoricalDataTable-Proxy']/section/div[1]/div[1]/button")
    apply.click()
    time.sleep(random.choice(seq))

    # Finally downloading the CSV
    download = driver.find_element(By.XPATH, "//a[@class='Fl(end) Mt(3px) Cur(p)']")
    download.click()
    time.sleep(random.choice(seq))

    # Closing the window
    driver.quit()

## User input for a specific stock
User can select any stock desired

In [8]:
stock = input("Which stock would you like? ")
closing_prices(stock)

Which stock would you like? f - ford motor

### Small function to retrieve the recently download csv file

In [51]:
def grab_csv():
    """
    Loading in the csv file with closing prices downloaded from Yahoo finance
    """
    # File list retrieved from local download folder
    list_of_files = glob.glob('../../../Downloads/*.csv') 
    
    # Assigning the most recent file
    latest_file = max(list_of_files, key=os.path.getctime)
    return pd.read_csv(latest_file)

In [54]:
# Checking the dataframe
df = grab_csv()
df.tail(1000)

,Date,Open,High,Low,Close,Adj Close,Volume
5908,2015-10-30,44.779999,46.619999,44.750000,46.119999,38.084156,3353700
5909,2015-11-02,46.139999,46.779999,44.520000,46.709999,38.571362,3946000
5910,2015-11-03,46.720001,48.160000,46.720001,47.369999,39.116364,3273800
5911,2015-11-04,47.439999,47.590000,45.820000,46.209999,38.158474,2590800
5912,2015-11-05,46.320000,46.759998,45.849998,46.660000,38.530067,2924500
5913,2015-11-06,46.540001,47.200001,46.200001,46.570000,38.455746,4085500
5914,2015-11-09,46.009998,46.200001,43.660000,43.980000,36.317032,6119500
5915,2015-11-10,43.630001,45.750000,43.509998,45.599998,37.654758,6824800
5916,2015-11-11,44.000000,44.040001,42.189999,43.160000,35.639900,9828300
5917,2015-11-12,45.430000,47.240002,45.000000,45.790001,37.811661,19188600
5918,2015-11-13,44.669998,44.669998,41.860001,42.849998,35.383904,9982600
5919,2015-11-16,42.689999,43.990002,42.570000,43.939999,36.284000,4144200
5920,2015-11-17,44.299999,45.169998,43.450001,44.049999,36.374836,4433900
5921,2015-11-18,44.279999,45.310001,43.720001,45.150002,37.283173,4506300
5922,2015-11-19,45.389999,45.770000,44.990002,45.180000,37.307941,2767800
5923,2015-11-20,45.590000,47.090000,45.580002,47.040001,38.843853,5070800
5924,2015-11-23,47.310001,47.970001,47.200001,47.639999,39.339314,3518700
5925,2015-11-24,47.349998,49.060001,47.320000,48.529999,40.074249,3262600
5926,2015-11-25,48.470001,48.930000,48.150002,48.500000,40.049469,2688400
5927,2015-11-27,48.820000,49.000000,47.660000,48.070000,39.694397,1315800
5928,2015-11-30,48.220001,48.439999,46.570000,47.130001,38.918179,4785800
5929,2015-12-01,47.270000,47.910000,46.950001,47.220001,38.992504,3636700
5930,2015-12-02,47.419998,47.720001,46.180000,46.419998,38.331894,3128800
5931,2015-12-03,46.619999,47.419998,45.910000,47.389999,39.132877,5760200
5932,2015-12-04,47.180000,48.119999,46.860001,48.080002,39.702652,4279000
5933,2015-12-07,47.360001,47.770000,46.650002,47.450001,39.552608,4103800
5934,2015-12-08,46.900002,47.849998,46.770000,47.200001,39.344219,2929000
5935,2015-12-09,46.860001,47.990002,46.599998,47.130001,39.285873,2547600
5936,2015-12-10,47.450001,48.669998,47.310001,48.180000,40.161110,4576000
5937,2015-12-11,47.709999,48.049999,46.090000,46.240002,38.543999,4618500
...,...,...,...,...,...,...,...
6878,2019-09-10,50.900002,51.459999,49.910000,51.099998,51.099998,4713200
6879,2019-09-11,51.470001,52.770000,50.230000,52.330002,52.330002,3932600
6880,2019-09-12,51.970001,53.200001,50.910000,52.360001,52.360001,4118700
6881,2019-09-13,53.200001,54.200001,52.250000,52.700001,52.700001,2927500
6882,2019-09-16,52.110001,53.220001,52.029999,53.130001,53.130001,2867300
6883,2019-09-17,52.119999,52.150002,50.419998,50.810001,50.810001,4494700
6884,2019-09-18,50.970001,51.240002,49.509998,50.090000,50.090000,2748600
6885,2019-09-19,50.320000,50.529999,48.770000,48.799999,48.799999,2837700
6886,2019-09-20,49.009998,50.230000,48.820000,49.020000,49.020000,3492400
6887,2019-09-23,48.709999,49.250000,48.200001,49.029999,49.029999,2263200
6888,2019-09-24,49.709999,50.189999,48.560001,49.180000,49.180000,2350200
6889,2019-09-25,49.180000,50.180000,49.090000,49.779999,49.779999,1775900
6890,2019-09-26,49.639999,49.880001,48.799999,49.169998,49.169998,1749500
6891,2019-09-27,49.430000,50.070000,49.220001,49.639999,49.639999,1986100
6892,2019-09-30,49.869999,50.450001,49.160000,49.660000,49.660000,2250500
6893,2019-10-01,50.090000,50.540001,48.970001,49.000000,49.000000,3171800
6894,2019-10-02,48.610001,48.680000,45.820000,46.180000,46.180000,5344300
6895,2019-10-03,45.939999,46.639999,44.669998,46.570000,46.570000,4033100
6896,2019-10-04,46.680000,47.230000,46.340000,47.180000,47.180000,2490100
6897,2019-10-07,47.099998,48.930000,46.990002,48.360001,48.360001,3680100
6898,2019-10-08,47.630001,48.990002,46.700001,48.400002,48.400002,2922700
6899,2019-10-09,48.709999,50.180000,48.590000,49.410000,49.410000,3024900
6900,2019-10-10,49.500000,51.189999,49.380001,50.799999,50.799999,4441600
6901,2019-10-11,51.520000,52.130001,50.650002,51.459999,51.459999,3080300
6902,2019-10-14,51.430000,51.430000,50.259998,50.730000,50.730000,2311600
6903,2019-10-15,50.939999,52.080002,50.549999,51.450001,51.450001,2219300
6904,2019-10-16,51.070000,52.070000,50.750000,51.020000,51.020000,2180300
6905,2019-10-17,51.340000,51.910000,50.730000,51.060001,51.060001,2534400
6906,2019-10-18,49.880001,51.369999,49.799999,50.599998,50.599998,2655900
6907,2019-10-21,51.230000,52.070000,50.849998,51.230000,51.230000,2221500

## Exporting the newly created DF

In [58]:
with open("stock_df.pkl", "wb") as fp:
    pickle.dump(df, fp)