# Gathering New Fundamental Data
Using an API call from SimFin

In [4]:
import requests
import pandas as pd

# here you have to enter your actual API key from SimFin
api_key = "gg0pKtra3ksYJJAsx9uEgrqcL26g89tG"

# list of tickers we want to get data for
tickers = ["NKE"]

# first: find SimFin IDs
sim_ids = []
for ticker in tickers:

    request_url = f'https://simfin.com/api/v1/info/find-id/ticker/{ticker}?api-key={api_key}'
    content = requests.get(request_url)
    data = content.json()

    if "error" in data or len(data) < 1:
        sim_ids.append(None)
    else:
        sim_ids.append(data[0]['simId'])

print(sim_ids)

# define time periods for financial statement data
statement_type = "pl"
time_periods = ["Q1", "Q2", "Q3", "Q4"]
year_start = 2018
year_end = 2019

# # set up the XLSX writer
# writer = pd.ExcelWriter("simfin_data.xlsx", engine='xlsxwriter')

data = {}
# get data for each ticker/id
for idx, sim_id in enumerate(sim_ids):
    d = data[tickers[idx]] = {"Line Item": []}
    if sim_id is not None:
        for year in range(year_start, year_end + 1):
            for time_period in time_periods:

                # make time period identifier
                period_identifier = time_period + "-" + str(year)

                if period_identifier not in d:
                    d[period_identifier] = []

                request_url = f'https://simfin.com/api/v1/companies/id/{sim_id}/statements/standardised?stype={statement_type}&fyear={year}&ptype={time_period}&api-key={api_key}'

                content = requests.get(request_url)
                statement_data = content.json()

                # collect line item names once, they are the same for all companies with the standardised data
                if len(d['Line Item']) == 0 and 'values' in statement_data:
                    d['Line Item'] = [x['standardisedName'] for x in statement_data['values']]

                if 'values' in statement_data:
                    for item in statement_data['values']:
                        d[period_identifier].append(item['valueChosen'])
                else:
                    # no data found for time period
                    d[period_identifier] = [None for _ in d['Line Item']]

        # fix the periods where no values were available
        len_target = len(d['Line Item'])
        if len_target > 0:
            for k, v in d.items():
                if len(v) != len_target:
                    d[k] = [None for _ in d['Line Item']]

    # convert to pandas dataframe
    df = pd.DataFrame(data=d)
    # save in the XLSX file configured earlier
#     df.to_excel(writer, sheet_name=tickers[idx])

# writer.save()
# writer.close()

[101814]

In [5]:
df

,Line Item,Q1-2018,Q2-2018,Q3-2018,Q4-2018,Q1-2019,Q2-2019,Q3-2019,Q4-2019
0,Revenue,9070000000,8554000000,8984000000,9.789000e+09,9948000000,9374000000,None,None
1,Sales & Services Revenue,None,None,None,NaN,None,None,None,None
2,Financing Revenue,None,None,None,NaN,None,None,None,None
3,Other Revenue,None,None,None,NaN,None,None,None,None
4,Cost of revenue,-5108000000,-4876000000,-5046000000,-5.411000e+09,-5551000000,-5269000000,None,None
5,Cost of Goods & Services,None,None,None,NaN,None,None,None,None
6,Cost of Financing Revenue,None,None,None,NaN,None,None,None,None
7,Cost of Other Revenue,None,None,None,NaN,None,None,None,None
8,Gross Profit,3962000000,3678000000,3938000000,4.378000e+09,4397000000,4105000000,None,None
9,Other Operating Income,None,None,None,NaN,None,None,None,None
10,Operating Expenses,-2856000000,-2768000000,-2767000000,-3.120000e+09,-3063000000,-3142000000,None,None
11,"Selling, General & Administrative",-2856000000,-2768000000,-2767000000,-3.120000e+09,-3063000000,-3142000000,None,None
12,Selling & Marketing,None,None,None,NaN,None,None,None,None
13,General & Administrative,None,None,None,NaN,None,None,None,None
14,Research & Development,None,None,None,NaN,None,None,None,None
15,Depreciation & Amortization,None,None,None,NaN,None,None,None,None
16,Provision For Doubtful Accounts,None,None,None,NaN,None,None,None,None
17,Other Operating Expense,None,None,None,NaN,None,None,None,None
18,Operating Income (Loss),1106000000,910000000,1171000000,1.258000e+09,1334000000,963000000,None,None
19,Non-Operating Income (Loss),-34000000,-31000000,-12000000,-4.300000e+07,-64000000,34000000,None,None
20,"Interest Expense, net",-16000000,-13000000,-13000000,-1.200000e+07,-11000000,-14000000,None,None
21,Interest Expense,None,None,None,NaN,None,None,None,None
22,Interest Income,None,None,None,NaN,None,None,None,None
23,Other Investment Income (Loss),None,None,None,NaN,None,None,None,None
24,Foreign Exchange Gain (Loss),None,None,None,NaN,None,None,None,None
25,Income (Loss) from Affiliates,None,None,None,NaN,None,None,None,None
26,Other Non-Operating Income (Loss),-18000000,-18000000,1000000,-3.100000e+07,-53000000,48000000,None,None
27,"Pretax Income (Loss), Adjusted",1072000000,879000000,1159000000,1.215000e+09,1270000000,997000000,None,None
28,Abnormal Gains (Losses),None,None,None,NaN,None,None,None,None
29,Acquired In-Process R&D,None,None,None,NaN,None,None,None,None
30,Merger / Acquisition Expense,None,None,None,NaN,None,None,None,None
31,Abnormal Derivatives,None,None,None,NaN,None,None,None,None
32,Disposal of Assets,None,None,None,NaN,None,None,None,None
33,Early extinguishment of Debt,None,None,None,NaN,None,None,None,None
34,Asset Write-Down,None,None,None,NaN,None,None,None,None
35,Impairment of Goodwill & Intangibles,None,None,None,NaN,None,None,None,None
36,Sale of Business,None,None,None,NaN,None,None,None,None
37,Legal Settlement,None,None,None,NaN,None,None,None,None
38,Restructuring Charges,None,None,None,NaN,None,None,None,None
39,Sale of and Unrealized Investments,None,None,None,NaN,None,None,None,None
40,Insurance Settlement,None,None,None,NaN,None,None,None,None
41,Other Abnormal Items,None,None,None,NaN,None,None,None,None
42,Pretax Income (Loss),1072000000,879000000,1159000000,1.215000e+09,1270000000,997000000,None,None
43,"Income Tax (Expense) Benefit, net",-122000000,-112000000,-2080000000,-7.800000e+07,-178000000,-150000000,None,None
44,Current Income Tax,None,None,None,NaN,None,None,None,None
45,Deferred Income Tax,None,None,None,NaN,None,None,None,None
46,Tax Allowance/Credit,None,None,None,NaN,None,None,None,None
47,"Income (Loss) from Affiliates, net of taxes",None,None,None,NaN,None,None,None,None
48,Income (Loss) from Continuing Operations,950000000,767000000,-921000000,1.137000e+09,1092000000,847000000,None,None
49,Net Extraordinary Gains (Losses),None,None,None,NaN,None,None,None,None
50,Discontinued Operations,None,None,None,NaN,None,None,None,None
51,XO & Accounting Charges & Other,None,None,None,NaN,None,None,None,None
52,Income (Loss) Including Minority Interest,950000000,767000000,-921000000,1.137000e+09,1092000000,847000000,None,None
53,Minority Interest,None,None,None,NaN,None,None,None,None
54,Net Income,950000000,767000000,-921000000,1.137000e+09,1092000000,847000000,None,None
55,Preferred Dividends,None,None,None,NaN,None,None,None,None
56,Other Adjustments,None,None,None,NaN,None,None,None,None
57,Net Income Available to Common Shareholders,950000000,767000000,-921000000,1.137000e+09,1092000000,847000000,None,None